@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: Agustina;
}

nav {
    color: white;
    border-bottom: 1px solid white;
}

.deactive {
    color: #7e9199;
    border-bottom: none;
}